@tailwind base;
  @tailwind components;
  @tailwind utilities;


.dark{
  background-color: #0f172a;
  color: #ddd;
}

.light{
  background-color: #ebebeb;
  color: #0f172a;
}


 /* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
} 
